{% extends 'base.html' %}

{% block styles %}
<style>
  body,
  html {
    height: 100%;
  }

  .messages-box {
    flex: 1;
    overflow-y: auto;
  }

  .messages-list {
    padding-left: 0;
  }

  .message {
    margin-bottom: 15px;
    list-style: none;
  }

  .message-text {
    padding: 10px;
    border-radius: 5px;
  }

  .sent {
    background-color: #dcf8c6;
    align-self: flex-end;
  }

  .received {
    background-color: #f1f0f0;
    align-self: flex-start;
  }

  .refresh-form {
    padding: 10px;
  }

  .message-form {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #f8f9fa;
  }

  .message-input {
    flex: 1;
    border-radius: 0;
    border-right: none;
  }

  .btn-send {
    border-radius: 0;
  }

  .chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #upload-form {
    margin-top: 20px;
  }
</style>
{% endblock %}


{% block content %}
<div class="chat-container">

  <div class="card flex-grow-1">

    <!--  Header  -->
    {% if user.is_authenticated == false %}
    <div class="card-header bg-primary text-white"><a style="color: yellow" href="accounts/login">Login</a> <a
        style="color: yellow;" href="register">Register</a></div>
    {% endif %}


    <div class="card-header bg-primary text-white"><b>Welcome, {{user.username}}</b> <a style="color: yellow;"
        href="accounts/logout">Logout</a></div>



    <!--  Upload Document  -->
    <form id="documentUploadForm" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      Upload Reference File :
      <input type="file" id="document" accept="application/pdf">
      <input type="button" value="upload" onclick="uploadDocument()">
    </form>
    <div id="docuemntUploadSuccessMessage" style="display:none;">Document uploaded successfully!</div>

    <hr>

    <div>※ 개인정보 또는 우리원 외부로 유출이 금지된 업무정보를 포함한 질문금지</div>
    <hr>

    <!--  Refresh User Chat  -->
    <form class="refresh-form">
      <button class="btn btn-primary btn-sm btn-dark btn-send" type="submit" id="refresh-btn">Refresh</button>
    </form>


    <!--  Chat  -->
    <div class="card-body messages-box">
      <ul class="list-unstyled messages-list">

        <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <b>Chatbot</b>
            </div>
            <div class="message-content">
              Hi {{user.username}}, I am your Chatbot, you can ask me anything.
            </div>
          </div>
        </li>

        {% for chat in chats %}
        {% if chat.user == request.user %}

        <li class="message sent">
          <div class="message-text">
            <div class="message-sender">
              <b>You</b>
            </div>
            <div class="message-content">
              {{chat.message}}
            </div>
          </div>
        </li>

        <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
              {{chat.response}}
            </div>
          </div>
        </li>

        {% endif %}
        {% endfor %}

      </ul>

    </div>
    <br><br>
    <br><br>
    <br><br>
  </div>
  <form class="message-form">
    {%csrf_token%}
    <div class="input-group">
      <input type="text" class="form-control message-input" placeholder="Type your message...">
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary btn-send">Send</button>
      </div>
    </div>
  </form>
</div>

<script>
  const messagesList = document.querySelector('.messages-list');
  const messageForm = document.querySelector('.message-form');
  const messageInput = document.querySelector('.message-input');

  messageForm.addEventListener('submit', (event) => {
    event.preventDefault();


    const message = messageInput.value.trim();
    if (message.length === 0) {
      return;
    }

    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'sent');
    messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
                <b>You</b>
            </div>
            <div class="message-content">
                ${message}
            </div>
        </div>`;
    messagesList.appendChild(messageItem);

    messageInput.value = '';

    fetch('', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams({
        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        'message': message,
        'chat': true
      })
    })
      .then(response => response.json())
      .then(data => {
        const response = data.response;
        const messageItem = document.createElement('li');
        messageItem.classList.add('message', 'received');
        messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
                ${response}
            </div>
        </div>
          `;
        messagesList.appendChild(messageItem);
      });

  });


  // Refresh User Chat
  document.querySelector('.refresh-form').addEventListener('submit', (event) => {
    event.preventDefault();
    fetch('', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams({
        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        'refresh': 'true'
      })
    }).then(response => response.json())
      .then(data => {
        if (data.status === 'success') {
          document.querySelector('.messages-list').innerHTML = `
            <li class="message received">
              <div class="message-text">  
                <div class="message-sender">
                  <b>Chatbot</b>
                </div>
                <div class="message-content">
                  Hi {{user.username}}, I am your Chatbot, you can ask me anything.
                </div>
              </div>
            </li>
          `;
        }
      });
  });


  // Upload Document
  function uploadDocument() {
    var formData = new FormData();
    formData.append('document', $('#document')[0].files[0]);
    formData.append('upload', 'true');
    var csrftoken = $('[name=csrfmiddlewaretoken]').val();

    $.ajax({
      url: '',
      type: 'POST',
      data: formData,
      processData: false,
      contentType: false,
      headers: { 'X-CSRFToken': csrftoken },
      success: function (response) {
        console.log('Document uploaded successfully');
        $('#docuemntUploadSuccessMessage').show();
        $('#document').val('');
        setTimeout(function () {
          $('#docuemntUploadSuccessMessage').fadeOut();
        }, 1500);
      },
      error: function (xhr, status, error) {
        console.log('Document Upload Failed');
      }
    });
  }

</script>
{% endblock %}